<div class="sidebar"
     ng-class="{
        'tab--intro': sidebarVM.states.currentTab === sidebarVM.tabs.intro,
        'tab--results': sidebarVM.states.currentTab === sidebarVM.tabs.results
     }">
    <header class="sidebar__header">
        <div class="nav__btn nav__btn--left"
             ng-show="sidebarVM.states.currentTab === sidebarVM.tabs.results"
             ng-click="sidebarVM.navigatePrevious()">
            <div class="icon icon-left-big"></div>
            <div class="text">Return</div>
        </div>
        <div class="nav__btn nav__btn--right"
             ng-show="sidebarVM.data.events.length && (sidebarVM.states.currentTab != sidebarVM.tabs.results)"
             ng-click="sidebarVM.navigateForward()">
            <div class="text">Return to results</div>
            <div class="icon icon-right-big"></div>
        </div>
    </header>
    <sidebar-intro ng-if="sidebarVM.states.currentTab === sidebarVM.tabs.intro"></sidebar-intro>
    <sidebar-results ng-if="sidebarVM.states.currentTab === sidebarVM.tabs.results"></sidebar-results>
</div>