
@import '../styles/mixins';
@import '../styles/variables/colors';

%btn-reset {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font-size: 1em;

  &:focus {
    outline: none;
  }

}

%btn--round {
  @extend %btn-reset;
  @include border-radius(50%);
  border: 2px solid map_get($variables_colors, primary);
  color: map_get($variables_colors, primary);
  width: 40px;
  height: 40px;

  &:hover {
    background-color: map_get($variables_colors, primary);
    color: #ffffff;
  }

}
