.btn {
  @extend %shared-btn-reset;
}

.btn-submit {
  @extend .btn;
  @include transition(all 350ms ease);
  //@include border-radius(3px);
  background-color: #2FC4FF;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 10px;
  width: 100%;

  &.state--disabled {
    background-color: #d9e2ec;
    cursor: default;
  }

}