<div class="sidebar">
    <div class="sidebar__intro">
        <h1 class="sidebar__title">What's Up Brisbane</h1>
        <p class="sidebar__desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cupiditate delectus deserunt.
        </p>
    </div>
    <form class="sidebar__form">
        <div class="sidebar__input">
            <label>
                <h3>Starting Location</h3>
                <input type="text" />
            </label>
        </div>
        <div class="sidebar__input">
            <label>
                <h3>Accepted Distance Radius</h3>
                <input type="text" />
            </label>
        </div>
        <div class="sidebar__input">
            <label>
                <h3>Starting Time</h3>
                <input type="text" />
            </label>
        </div>
        <div class="sidebar__input">
            <label>
                <h3>End Time</h3>
                <input type="text" />
            </label>
        </div>
        <div class="sidebar__submit">
            <button class="btn">Find Events</button>
        </div>
    </form>
</div>