.sidebar {
  background-color: #FDFEFE;
  height: 100%;
}

  %sidebar__content {
    padding: 30px;
  }

  .sidebar__intro {
    @extend %sidebar__content;
    border-bottom: 1px solid #ecf1f7;
  }

    .sidebar__title {
      color: #43597C;
      font-size: 20px;
      font-weight: 700;
      margin: 15px 0;
    }

    .sidebar__desc {
      color: #43597C;
      font-size: 18px;
      font-weight: 300;
      line-height: 24px;
    }

  .sidebar__form {
    @extend %sidebar__content;
  }

    .sidebar__input {
      margin-top: 15px;

      &:first-of-type {
        margin-top: 0;
      }

      h3 {
        color: #43597C;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 5px;
      }

      input {
        background-color: #FFFFFF;
        border: 1px solid #E1E9F0;
        font-size: 17px;
        padding: 10px;
        width: 100%;

        &:focus {
          border-color: #000000;
          outline: none;
        }

      }

    }

    .sidebar__submit {
      margin-top: 30px;
    }